.mat-dialog-container {
  background: transparent;
  padding: 0px;
  box-shadow: none;
}
.card-header {
  background-color: rgba(253, 187, 45, 1);
  margin: -12px 12px 0 12px;
}
.mat-raised-button {
  width: 85px;
}
.card-header {
  cursor: move;
}
.btnSave {
  background-color: rgba(253, 187, 45, 1);
}
